body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px #ccc;
    margin-top: 40px;
}

h1 {
    text-align: center;
    color: #333;
}

.section {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: white;
}
